<div class="landing">
	<popup [pop-open]="open" *ngIf="this.open == true" (click)="open = false">
		<app-login></app-login>
	</popup>
	<div class="landing-container">
		<div class="contest-container inline">
			<div class="phone-container">
				<div class="card-container">
					<card></card>
					<card></card>
				</div>
				<img class="box-iphone" src="../../assets/landing-iphone.png">
			</div>
		</div>
		<div class="form-container inline">
			<div class="container__box">
				<div class="box__headname">
					<div class="logo inline"></div>
					<h1 class="name inline">Neshh</h1>
				</div>
				<h2 class="box__subname">Laborum coniunctione est vidisse, occaecat comprehenderit qui pariatur</h2>
				<tabs>
					<tab [tabTitle]="'Sign up'">
						<register></register>
					</tab>
					<tab tabTitle="Log in">
						<login></login>
					</tab>
				</tabs>
				<footer>
					<span class="copy inline">© Neshh</span>
					<div class="links-container inline">
						<a class="facebook" href="facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
						<a class="instagram" href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a class="vk" href="https://vk.com/neshhcom" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
					</div>
				</footer>
			</div>
		</div>
	</div>
	<div class="landing__waves">
		<svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
			<defs>
				<path id="gentle-wave"
				d="M-160 44c30 0
				58-18 88-18s
				58 18 88 18
				58-18 88-18
				58 18 88 18
				v44h-352z" />
				<linearGradient id="violet" x1="0%" y1="0%" x2="100%" y2="0%">
				  <stop offset="0%" style="stop-color:#a71f75" />
				  <stop offset="100%" style="stop-color:#e81b8e" />
				</linearGradient>
				<linearGradient id="red" x1="0%" y1="0%" x2="100%" y2="0%">
				  <stop offset="0%" style="stop-color:#e03a6b" />
				  <stop offset="100%" style="stop-color:#ff5e4e" />
				</linearGradient>
				<linearGradient id="blue">
				  <stop offset="0%" style="stop-color:#0a7dd7" />
				  <stop offset="100%" style="stop-color:#5ecbc9" />
				  <stop offset="0%" style="stop-color:#0a7dd7" />
				</linearGradient>
			</defs>
			<g class="parallax">
				<use xlink:href="#gentle-wave" x="50" y="0" fill="url(#violet)"/>
				<use xlink:href="#gentle-wave" x="50" y="4" fill="url(#red)"/>
				<use xlink:href="#gentle-wave" x="50" y="8" fill="url(#blue)"/>
			</g>
		</svg>
	</div>
</div>
