<div class="sidebar">
	<div class="sidebar__logo inline"></div>
	<div class="sidebar__user-dropdown inline">
		<p class="name inline">John</p>
		<img class="photo">
		<i class="fa fa-caret-down" aria-hidden="true"></i>
	</div>
	<div class="sidebar__user-data">
		<div class="data-box">
			<p class="data-box__value">220$</p>
			<p class="data-box__label">Budget</p>
		</div>
		<div class="data-box">
			<p class="data-box__value">5</p>
			<p class="data-box__label">Contests</p>
		</div>
		<div class="data-box">
			<p class="data-box__value">8</p>
			<p class="data-box__label">Wishes</p>
		</div>
	</div>
	<a class="sidebar__link sidebar__link--discover">Discover</a>
	<a class="sidebar__link sidebar__link--weekly">
		Weekly deal
		<span class="new">New!</span>
	</a>
	<a class="sidebar__link sidebar__link--suggest">Suggest contest</a>
	<a class="sidebar__link sidebar__link--settings">Settings</a>
	<div class="sidebar__footer">
		<span class="copy inline">© Neshh</span>
		<div class="links-container inline">
			<a class="facebook" href="facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			<a class="instagram" href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a class="vk" href="https://vk.com/neshhcom" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
		</div>
	</div>
</div>