@import ../../variables

.discover
	display: block
	margin: 0 auto
	width: 1110px
	padding: 20px 0
	.header
		padding: 0 60px 0 35px
		margin: 0 0 30px 0
		&__title
			margin: 0 30px 0 0
			font-size: 30px
			font-weight: 600
		&__slider
			width: 150px
			margin: 3px 0 0 0
		&__slider-label
			position: relative
			top: 2px
			margin: 0 5px
			font-size: 12px
			color: $color-gray
		&__sort
			float: right
			margin-top: 10px
			font-size: 14px
	masonry
		.card
			display: inline-block
			position: relative
			width: 275px
			height: 187px
			padding: 0 15px
			margin-bottom: 30px
			.card-container
				background-color: white
				border: $border-card
				.card__image
					width: 100%
					height: auto
				.card__info
						.info__name
							margin: 7px 0 7px 10px
							font-size: 16px
						.info__date
							margin: 7px 0 7px 10px
							font-size: 10px
			&:nth-child(5)
				width: 550px
				height: 366px
				.card-container
					.card__info
						.info__name
							margin: 15px 0 7px 10px
							font-size: 26px
						.info__date
							margin: 7px 0 15px 10px
							font-size: 14px
			&:nth-child(1)
				width: 550px
				height: 366px
				.card-container
					.card__info
						.info__name
							margin: 15px 0 7px 10px
							font-size: 26px
						.info__date
							margin: 7px 0 15px 10px
							font-size: 14px
			&:nth-child(9)
				width: 550px
				height: 366px
				.card-container
					.card__info
						.info__name
							margin: 15px 0 7px 10px
							font-size: 26px
						.info__date
							margin: 7px 0 15px 10px
							font-size: 14px