.discover
	.discover-container
		position: relative
		left: 270px
		width: calc(100vw - 270px)
		height: auto
		min-height: 570px
		padding: 30px
		.header
			padding: 0 20px
			margin: 0 0 20px 0
			&__title
				margin: 0
				font-size: 28px
				font-weight: 600
		.brick
			width: 270px
			margin: 0 15px