<div class="view-container">
	<div class="discover">
		<div class="header">
			<h1 class="header__title inline">Discover</h1>
			<span class="header__slider-label">0$</span>
			<md-slider class="header__slider inline" color="primary"></md-slider>
			<span class="header__slider-label">1000$</span>
			<md-select class="header__sort inline" color="primary" placeholder="Sort" [(ngModel)]="selectedValue" name="food">
				<md-option *ngFor="let sort of sorts" [value]="sort.value">
					{{sort.viewValue}}
				</md-option>
			</md-select>
		</div>
		<masonry [options]="{
				itemSelector: 'masonry-brick',
				columnWidth: 275
			}" [useImagesLoaded]="true">
			<masonry-brick class="card card--medium" *ngFor="let brick of bricks">
				<div class="card-container">
					<img class="card__image" src="../../../assets/example.jpg">
					<div class="card__info inline">
						<h2 class="info__name">Apple AirPords</h2>
						<p class="info__date">03.06.2017</p>
					</div>
					<div class="card__budjet inline">
					</div>
				</div>
			</masonry-brick>
		</masonry>
	</div>
</div>