<form>
	<button class="control-button facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;Log in with Facebook </button>
	<div class="seperator">
		<div class="line inline"></div>
		<span class="or">OR</span>
		<div class="line inline"></div>
	</div>
	<input class="form-input email" placeholder="Email" type="email">
	<input class="form-input name" placeholder="Full Name" type="text">
	<input class="form-input password" placeholder="Password" type="password">
	<input class="form-input re-password" placeholder="Re-enter Password" type="password">
	<button class="control-button signup">Sign up</button>
	<p class="terms">By signing up, you agree to our Terms & Privacy Policy.</p>
</form>