.control-button
	height: 35px
	width: 100%
	border-radius: 3px
	color: white
	border: none
	box-shadow: none
	font-weight: 500

.form-input
	height: 35px
	width: 100%
	padding: 5px 10px
	margin-bottom: 15px
	border-radius: 3px
	background-color: white
	outline: none
	border: 1px solid #ddd

//Select from Material2

md-select
	.mat-select-trigger
		.mat-select-placeholder
			font-size: 14px
			width: 90px
		.mat-select-value
			.mat-select-value-text
				font-size: 14px
		.mat-select-arrow
			font-size: 12px
		.mat-select-underline
			display: none

.mat-option
	font-size: (13px !important)
	height: (40px !important)
	line-height: (40px !important)