@import ../../../variables

\:host
	.card
		display: inline-block
		position: relative
		background-color: white
		box-shadow: $shadow-card
		.card__image
			width: 100%
			height: auto
		.card__info
			.info__name
				margin: 10px 0 10px 10px
				font-size: 20px
				font-weight: 600
			.info__date
				margin: 10px 0 10px 10px
				font-size: 12px
				color: $color-gray
	&.landing
		.card
			margin-top: 15px
			width: 245px
			.card__info
				.info__name
					margin: 7px 0 7px 10px
					font-size: 16px
					font-weight: 600
				.info__date
					margin: 5px 0 5px 10px
					font-size: 10px
					color: $color-gray
